<ion-header>
  <ion-toolbar>
    <ion-title>new</ion-title>
    <ion-button slot="end" fill="clear" icon-only>
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-textarea
    class="ion-margin"
    rows="5"
    placeholder="Brand, Usage, Source"
  ></ion-textarea>

  <ion-button color="light" class="upload_pic_btn ion-margin">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item class="ion-no-padding ion-margin" detail>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label class="ion-margin-start">Price</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding ion-margin" detail>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label class="ion-margin-start">Location</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-horizontal">
    <ion-label>Post</ion-label>
  </ion-button>
</ion-content>
